{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- icons -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/home_style.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/c23fb8444f.js" crossorigin="anonymous"></script>
    <!-- <script>
        history.scrollRestoration = "manual"
    </script> -->

    <title>
        {% block title %}
        Charles Grealy 
        {% endblock %}
    </title>
</head>

<body>
    <!-- Everything above block will be on EVERY page that uses extends -->
    {% block content %}

    {% endblock %}
    <!-- Likewise, everything below endblock will be on every page -->
    <!-- </div> -->



</body>
    <!-- Optional JavaScript -->
    {% block js %}
    <script src="{% static 'blog/js/home_script.js' %}"></script>
    {% endblock %}

</html>