{% extends 'base.html' %}
{% block content %}
{% load markdown_deux_tags %}

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
<style>







</style>



<!-- {% for post in object_list %}
{{ post.title }}
{{ post.body|markdown }}
<br>
{% endfor %} -->
<div class="grid-container">
    <div class="page-container">
        <div class="sidepane">
            <div class="menu-title">
                charles-grealy
            </div>
            <div class="menu-items">
                test1
                <br>
                test2222222222
                <br>
                test3
            </div>
        </div>
        <div class="nav">
            <div class="home">
                home.html
            </div>
            <div class="projects">
                projects.html
            </div>
            <div class="blog">
                blog.html
            </div>
            <div class="resume">
                resume.html
            </div>
            <div class="contact">
                contact.html
            </div>
        </div>
        <div class="info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget condimentum orci. Nunc nibh mi, facilisis laoreet quam non, cursus bibendum leo. Sed tincidunt sit amet lacus eget malesuada. Proin sem odio, accumsan at ipsum quis, viverra faucibus diam. Sed a accumsan tortor. Proin et nisi in lorem placerat scelerisque eu at sapien. Morbi et enim accumsan, sodales nibh in, rutrum diam. Vestibulum venenatis molestie scelerisque. Mauris ullamcorper eros eros, sed feugiat est aliquet sit amet. Suspendisse vel elit tellus. Proin interdum leo id tellus tincidunt iaculis. Nam sit amet nibh ut lacus mattis sollicitudin. Nullam eget lorem ligula. Fusce ullamcorper ante nec sem auctor, ut varius diam tempor. Pellentesque consectetur sapien vel risus efficitur, eget convallis lorem rutrum. Nullam.
        </div>
        <!-- <div class="info">
            info
        </div> -->
        <div class="footer">
            footer
        </div>
    </div>

</div>






<!-- <div class="post-section">
    <h5 class="posts-heading">Posts</h5>
    <hr>
    <div class="wrapper">
        {% for post in object_list %}

        <a href="{% url 'post-detail' post.pk %}" class="posts-info">
            <div class="post-box">
                <!-- url 'actual name from our urls' then post's primary key -->
<!-- <p class="post-date">{{ post.date|date:'F d, Y' }}</p> -->
<!-- | {{ post.author.first_name }} 
    {{ post.author.last_name }} <!-- - {{ post.author.email }} -->
<!-- {{ post.body|markdown }} -->
<!-- date template: https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#date -->
<!-- <span class="post-date">{{ post.date|date:'F d, Y' }}</span> -->
<!-- </div>
        </a>
        {% endfor %}
    </div>
</div> -->

{% endblock %}