{% extends 'base.html' %}
{% block content %}
{% load markdown_deux_tags %}

<div class="grid-container">
    <div class="page-container">
        <div class="sidepane" id="sidepane-div">
            <div class="home-side menu-collapse">
                <p>
                    <a class="sidepane-links" id="home-menu" href="{% url 'home' %}">
                        home
                    </a>
                </p>
            </div>
            {% block postlist %}
            <div class="blog-side ">
                <p style="float: left;" id="blog-side-text">
                    blog
                </p>
                <i class="material-icons material-icons-round md-42" id="blog-menu">expand_more</i>
                <i class="material-icons material-icons-round md-42" id="blog-close" style="display: none;">expand_less</i>

                <div class="blog-posts" style="display: none;">
                    {% for post in post_list %}
                    <p class="posts" style="display:none;">
                        <a href="{% url 'post-detail' post.pk %}">
                            {{ post.title }}
                        </a>
                    </p>
                    <span style="display: none;"> {{ post.date }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}

            <div class="projects-side">
                <p id="projects-side-text">
                    projects
                </p>
            </div>

            <div class="resume-side menu-collapse">
                <p id="resume-side-text">
                    resume
                </p>
            </div>

            <div class="contact-side menu-collapse">
                <p id="contact-side-text">
                    contact
                </p>
            </div>
        </div>

        <div id="info-box" class="info">
            <div class="about-me">
                <h1>This is the about-me section! </h1>
                <p>I like programming</p>
            </div>

            <div class="blog-section">
                <h1>This is the blog section</h1>
                {% block posts %}
                {% endblock %}
            </div>

            <div class="projects-section">
                <h1>This is the projects section! </h1>
            </div>

            <div class="resume-section">
                <h1>This is the resume section! </h1>
            </div>

            <div class="contact-section">
                <h1>This is the contact section! </h1>
            </div>
        </div>
    </div>

    <div class="post-bg">
    </div>
</div>

{% endblock %}