{% extends 'home.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/post_style.css' %}">
{% endblock %}
{% load markdown_deux_tags %}


{% block menuitems %}
<div class="home-side menu-collapse">
    <p>
        <a class="sidepane-links" id="home-menu" href="{% url 'home' %}">back</a>
    </p>
</div>
{% block postlist %}
<div class="blog-side ">
    <p style="float: left;" id="blog-side-text" class="postbg-active">
        posts
    </p>
    <i class="material-icons material-icons-round md-38" id="blog-menu">expand_more</i>
    <i class="material-icons material-icons-round md-38" id="blog-close" style="display: none;">expand_less</i>

    <div class="blog-posts" style="display: none;">
        {% for posts in post_list %}
        <p class="posts" style="display:none;">
            <a href="{% url 'post-detail' posts.date|date:"Y" posts.date|date:"M"|lower posts.date|date:"d" posts.slug %}">
                {{ posts.title }}
            </a>
        </p>
        <span style="display: none;"> {{ posts.date }}</span>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!-- <div class="projects-side">
    <p id="projects-side-text">
        projects
    </p>
</div>

<div class="resume-side menu-collapse">
    <p id="resume-side-text">
        resume
    </p>
</div>

<div class="contact-side menu-collapse">
    <p id="contact-side-text">
        contact
    </p>
</div> -->
</div>
{% endblock %}
{% block posts %}
<div class="blog-entries">

    <h1 id="current-post">{{ post.title }}</h1>

    {{ post.body|markdown }}

</div>




{% endblock %}

{% block js %}
<script src="{% static 'blog/js/blog_details.js' %}"></script>
{% endblock %}