/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-600italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-600italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-800italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-800italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-500 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-800 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-900 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-600 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
  font: 20px/1.4 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  overflow: auto;

}


.no-overflow {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* html,
body {
  margin: 0;
  padding: 12px;
} */

::selection {
  color: white;
  background: #ee4444;
}



.grid-container {
  /* display: grid;
  justify-content: center;
  align-content: center; */

}

.page-container {
  /* display: grid;
  grid-template-columns: 140px 2em minmax(200px, 730px);
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidepane . info";
  margin-left: 70px;
  margin-right: 70px; */
}

.container {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* display: flex;
  flex-direction: column; */
}


.sidepane {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  position: fixed;
  /* float: left; */
  height: 100vh;
  /* left: 20%; */
  margin-left: -192px;
  /* margin-right: auto; */
  /* top: 0; */
  width: 140px;
  justify-content: center;
  margin-right: 100px;
  /* grid-area: sidepane;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: none;
  position: sticky; */
}

.sidepane>div>p {
  text-align: right;
}

.sidepane::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.sidepane-links {
  color: #D7D9D9;
  text-decoration: none;
}

.posts-scroll-bar {
  overflow-y: auto;
  overflow-x: hidden;
}

.post-bg {
  position: fixed;
  width: 100vw;
  background-color: #0D0D0D;
  opacity: .989;
  /* margin: -24px; */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

}


.post-bg-border {
  border-bottom-width: 50px;
  border-bottom-style: solid;
  border-top-width: 50px;
  border-top-style: solid;
  border-color: #0D0D0D;
}

.posts {
  /* width: 300px; */
  /* margin-left: 25.5px; */
  border: 1px solid transparent;
}

.other-posts {
  margin-left: 25px;
}



.posts>a {
  display: inline-block;
  max-width: 47vw;
  text-decoration: none;
  color: #D7D9D9;
  opacity: .4;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 20px/1.5 'Open Sans', sans-serif;
  font-weight: 600;
  border: 1px solid transparent;
  /* border-bottom: 1px dotted #fff; */
}

.posts>a:hover {
  transition: color 0.3s ease;
  /* transition: opacity 0.3s ease; */
  /* transition: border-bottom 0.3s ease; */
  /* transition: text-decoration 0.5s ease;
  text-decoration: underline; */
  /* border-bottom: solid 1px #fff; */
  color: #D7D9D9;
  opacity: .7;
  /* opacity: .7; */
}

.post-title {
  display: inline-block;
  margin-left: 25px;
}

.post-title>p {
  /* background-color: rgb(24, 24, 24); */
  display: inline-block;
  color: #F2F2F2;
  text-decoration: none;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 20px/1.5 'Open Sans', sans-serif;
  font-weight: 600;
  /* border-radius: 2px; */
  border-bottom: 3px solid #e61a2b;
  padding-bottom: 5px;
  /* border-left: 3px solid #e61a2b; */
  /* text-decoration: underline;
  text-decoration-color: #e61a2b; */

}

.material-icons.md-38 {
  font-size: 38px;
  color: #D7D9D9;
  position: relative;
  top: 7px;
  cursor: pointer;
}

/* .material-icons.md-38-right {
  font-size: 38px;
  color:#e61a2b;
  position: relative;
  top: 5px;
  display: inline-block;
  margin-right: -3px;
  margin-left: 5px;
  /* left: -10px;
} */

#blog-menu {
  float: right;
  right: -10px;
}

#blog-menu:hover {
  transition: color 0.5s ease;
  color: #e63946 !important;
}

#blog-side-text {
  position: relative;
  left: 23px;
}

#blog-close {
  color: #e63946;
  margin-left: 25.5px;
}

.menu-hover:hover {
  transition: color 0.5s ease;
  color: #595959 !important;
}


.home-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}

.blog-side {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; */
}

.blog-side-clicked {
  position: fixed;
}

.blog-posts>span {
  display: none;
}

.posts:first-child {
  margin-top: 55px;
}

.blog-side>p {
  cursor: pointer;
}

.home-side>p,
.blog-side>p {
  margin: 0;
  font: 34px 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

/* .current-post {
  background-color: #e61a2b;
  border-radius: 10px;
} */

.info {
  grid-area: info;
  color: #594D42;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  padding-top: 30px;

}

/* For chrome */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.blog-entries {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  padding-bottom: 1rem;
}

.blog-entries>p>a {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.blog-entries>p>a:visited {
  color: #226473;
}

.blog-entries>p>a:hover {
  transition: color 1s ease;
  transition: border-bottom 0.5s ease;
  color: #733B36;
  border-bottom: 1px solid #733B36;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #D5E5F2;
}

.footer>p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

.footer-links {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.footer-links:visited {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.footer-links:hover {
  transition: border-bottom 0.5s ease;
  color: #733B36;
  border-bottom: 1px solid #733B36;
}

#post-container {
  /* height:50vh; */
  overflow: auto;
  /* position: fixed; */
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.sidepane-click {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  position: fixed;
  float: left;
  height: 45px;
  /* left: 22%; */
  /* margin-left: -192px; */
  /* margin-right: auto; */
  top: 0;
  right: 24%;
  width: 100vw;
  align-content: center;
  /* margin-right: 100px; */
  justify-content: center;
  border-bottom-width: 45px;
  border-bottom-style: solid;
  border-top-width: 50px;
  border-top-style: solid;
  border-color: #0D0D0D;
}

/* Markdown css */

h1 {
  font: 240% 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font: 170% 'Roboto Slab', serif;
  font-weight: 500;
  margin: 0;
}

blockquote {
  /* background-color: #BACBD9; */
  margin: 0;
  border-left: 4px solid #595959;
  background-color: rgba(89, 89, 89, .2)
    /* border-radius: 5px; */
}

blockquote>p {
  color: #252526;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

pre {

  display: block;
  border: 2px solid #BACBD9;
  white-space: pre-line;
  word-wrap: normal;
  word-spacing: normal;
  word-break: normal;
  border-radius: 4px;
  overflow: auto;
  color: #ffcd57;
  background-color: #0D0D0D;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1em;
}

code {
  white-space: pre-wrap !important;
  word-wrap: break-word;
  font-family: 'JetBrains Mono', monospace;
  color: #BACBD9;
}

img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
  border-style: none;
}

hr {
  margin: 0;
  border: 2px solid #BACBD9;
  border-radius: 10px;
}