/* Fonts */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-600italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-600italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''),
    url('../fonts/opensans/open-sans-v18-latin-800italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/opensans/open-sans-v18-latin-800italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-500 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-800 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-900 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/robotoslab/roboto-slab-v12-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotoslab/roboto-slab-v12-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-600 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/jetbrainsmono/jetbrains-mono-v1-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Section targets html tags or general classes */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
  font: 20px/1.4 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  overflow: auto;
  color: #594D42;
}

html, body {
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
body, html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  color: white;
  background: #ee4444;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

.post-bg {
  position: fixed;
  width: 100vw;
  background-color: #0D0D0D;
  opacity: .989;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.post-bg-border {
  border-bottom-width: 50px;
  border-bottom-style: solid;
  border-top-width: 50px;
  border-top-style: solid;
  border-color: #0D0D0D;
  border-top: 100px solid #0D0D0D;

}

.container {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sidepane {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  margin-left: -192px;
  width: 140px;
  justify-content: center;
  margin-right: 100px;
}

.sidepane-click {
  display: flex;
  flex-direction: row;
  position: fixed;
  float: left;
  height: 45px;
  top: 0;
  right: 24%;
  width: 100vw;
  align-content: center;
  justify-content: center;
  border-bottom-width: 45px;
  border-bottom-style: solid;
  border-top-width: 50px;
  border-top-style: solid;
  border-color: #0D0D0D;
}

.sidepane>div>p {
  text-align: right;
}

.sidepane::-webkit-scrollbar {
  display: none;
}

.sidepane-links {
  color: #D7D9D9;
  text-decoration: none;
}

.home-side {
  text-align: right;
}

.blog-side>p {
  cursor: pointer;
}

.home-side>p,
.blog-side>p {
  margin: 0;
  font: 34px 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.menu-hover:hover {
  transition: color 0.5s ease;
  color: #595959 !important;
}

.posts {
  border: 1px solid transparent;
}

.material-icons.md-38 {
  font-size: 38px;
  color: #D7D9D9;
  position: relative;
  top: 7px;
  cursor: pointer;
}

#blog-menu {
  float: right;
  right: -10px;
}

#blog-menu:hover {
  transition: color 0.5s ease;
  color: #e63946 !important;
}

#blog-side-text {
  color: #090B0D;
  position: relative;
  left: 23px;
}

#blog-close {
  color: #e63946;
  margin-left: 25.5px;
}

#post-container {
  overflow: auto;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.posts>a {
  display: inline-block;
  max-width: 47vw;
  text-decoration: none;
  color: #D7D9D9;
  opacity: .4;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 20px/1.5 'Open Sans', sans-serif;
  font-weight: 600;
  border: 1px solid transparent;
}

.posts>a:hover {
  transition: color 0.3s ease;
  color: #D7D9D9;
  opacity: .7;
}

.post-title {
  display: inline-block;
  margin-left: 25px;
}

.post-title>p {
  display: inline-block;
  color: #F2F2F2;
  text-decoration: none;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 20px/1.5 'Open Sans', sans-serif;
  font-weight: 600;
  border-bottom: 3px solid #e61a2b;
  padding-bottom: 5px;
}

.other-posts {
  margin-left: 25px;
}

.posts-scroll-bar {
  overflow-y: auto;
  overflow-x: hidden;
}

.blog-side-click {
  position: fixed;
}

.blog-posts>span {
  display: none;
}

.posts:first-child {
  margin-top: 55px;
}

.blog-entries {
  color: #594D42;
  padding-bottom: 1rem;
  margin-top: 30px;

}

.blog-entries>p>a {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.blog-entries>p>a:visited {
  color: #226473;
}

.blog-entries>p>a:hover {
  transition: color 1s ease;
  transition: border-bottom 0.5s ease;
  color: #733B36;
  border-bottom: 1px solid #733B36;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #D7D9D9;
}

.footer>p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

.footer-links {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.footer-links:visited {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
}

.footer-links:hover {
  transition: border-bottom 0.5s ease;
  color: #733B36;
  border-bottom: 1px solid #733B36;
}


/* Posts markdown css */

#post-date {
  color: #a0a0a0;
  margin-bottom: 40px;
  margin-top: 0;
}

h1 {
  font: 240% 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font: 170% 'Roboto Slab', serif;
  font-weight: 500;
  margin: 0;
}

blockquote {
  margin: 0;
  border-left: 4px solid #8C7968;
  /* background-color: rgba(89, 89, 89, .2) */
}

blockquote>p {
  color: #8C7968;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

code {
  font-family: 'JetBrains Mono', monospace;
  color: #BACBD9;
  /* border: .5px solid transparent; */
  background-color: #0D0D0D;
  padding-left: .5em;
  padding-right: .5em;
  border-radius: 10px;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;

}

pre {
  display: block;
  border: 2px solid #BACBD9;
  white-space: pre-line;
  word-wrap: normal;
  word-spacing: normal;
  word-break: normal;
  border-radius: 7px;
  overflow: auto;
  color: #ffcd57;
  background-color: #0D0D0D;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1em;
}

pre > code {
  white-space: pre-wrap !important;
  word-wrap: break-word;
  font-family: 'JetBrains Mono', monospace;
  color: #BACBD9;
}

img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
  border-style: none;
}

hr {
  margin: 0;
  border: 1px solid #D7D9D9;
  border-radius: 10px;
}