/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('fonts/opensans/open-sans-v18-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/opensans/open-sans-v18-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-500 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-800 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-900 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('fonts/robotoslab/roboto-slab-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/robotoslab/roboto-slab-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
  font: 17px/1.4 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  /* color: #BACBD9; */
}

::selection {
  color: white;
  background: #ee4444;
}

.postbg-active {
  
}

pre,
code {
  display: inline;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  color: #ffcd57;
  background-color: #0D0D0D;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.page-container {
  width: 50vw;

  display: grid;
  grid-template-columns: 140px 2em 1fr;
  /* column-gap: 2em; */
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidepane . info";
  align-items: flex-start;
}

h1 {
  font: 240% 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  font: 170% 'Roboto Slab', serif;
  font-weight: 500;
  margin: 0;
}

#blog-title {
  font: 250% 'Open Sans', sans-serif;
  margin: 0;
}

.post-descriptions {
  font-family: 'Source Sans', sans-serif; 
  margin: 0;
  margin-top: 4px;
}

.links {
  color: #226473;
  text-decoration: none;
  border-bottom: 1px dotted #226473;
  font-style: italic;
}

.links:hover {
  transition: color 1s ease;
  transition: border-bottom 0.5s ease;
  color: #733B36;
  border-bottom: 1px solid #733B36;
}

.sidepane {
  grid-area: sidepane;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  grid-template-columns: 130px;
  align-self: center;
  overflow: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  position: -webkit-fixed;
  position: fixed;
}

.sidepane::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.sidepane-links {
  color: #0D0D0D;
  text-decoration: none;
}

.posts-scroll-bar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.post-bg {
  position: absolute;
  height: 100vh;
  background-color: rgba(24, 24, 24, .97)
}

.posts {
  width: 300px;
}

.posts>a {
  display: block;
  width: 47vw;
  text-decoration: none;
  color: #f1faee;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 150%/1.5 'Source Sans', sans-serif;
}

.posts>a:hover {
  transition: color 0.5s ease;
  color: #a8dadc;
}

.material-icons.md-38 {
  font-size: 38px;
  color: #BACBD9;
  position: relative;
  top: 7px;
  margin-left: 5px;
  cursor: pointer;
}

#blog-menu:hover {
  transition: color 0.5s ease;
  color: #e63946 !important; 
}

#blog-close {
  color: #e63946;
}

.menu-hover:hover{
  transition: color 0.5s ease;
  color: #595959 !important;
}


.home-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.blog-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blog-posts>span {
  display: none;
}

.posts:first-child {
  margin-top: 55px;
}

.projects-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}


.resume-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}


.contact-side {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.blog-side>p,
.projects-side>p,
.resume-side>p,
.contact-side>p {
  cursor: pointer;
}

.home-side>p,
.blog-side>p,
.projects-side>p,
.resume-side>p,
.contact-side>p {
  margin: 0;
}

.home-side>p,
.blog-side>p,
.projects-side>p,
.resume-side>p,
.projects-side>p,
.contact-side>p {
  font: 200% 'Roboto Slab', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  /* color: #BACBD9; */
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: home;
  padding: 0 10px 0 10px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.info {
  grid-area: info;
  color: #594D42;
  margin: .65em 2em 0 2em;
  height: 100vh;
  
}

.about-me,
.blog-section,
.projects-section,
.resume-section,
.contact-section {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 100vh;

}

.blog-entries {
  height: 100vh;
  margin: 2em 2em 0 2em;

}

.about-me>p,
.projects-section>p,
.resume-section>p,
.contact-section>p {
  margin-top: 17px;
  margin-bottom: 17px;
  max-width: 75ch;
  font-size: 17px;
  line-height: 1.4em;
}




.post-body {
  display: none;
  visibility: hidden;
}

@media all and (max-width: 44em) {
  .grid-container {
    width: 100vw;
  }

  .page-container {
    border: none;
    display: grid;
    height: 100vh;
    width: 100vw;
    /* grid is 6 x 3 (col x row) */
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "."
      "info";
  }

  /* TODO: Change font type to source code/sans */

  .home,
  .projects,
  .blog,
  .resume,
  .contact {
    padding: 0;
  }


  .info {
    grid-area: info;
    width: 100vw;
    -webkit-overflow-scrolling: touch;

  }

  .info::-webkit-scrollbar {
    width: 5px;
  }

  .info::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .info::-webkit-scrollbar-thumb:vertical {
    background-color: coral;
    border-radius: 10px;
  }
}