/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sourcesans/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('fonts/sourcesans/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcesans/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcesans/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/sourcesans/source-sans-pro-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('fonts/sourcesans/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcesans/source-sans-pro-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcesans/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/sourcesans/source-sans-pro-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('fonts/sourcesans/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcesans/source-sans-pro-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcesans/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Black';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/sourcesans/source-sans-pro-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
       url('fonts/sourcesans/source-sans-pro-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcesans/source-sans-pro-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcesans/source-sans-pro-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcesans/source-sans-pro-v14-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Regular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sourcecode/source-code-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
       url('fonts/sourcecode/source-code-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcecode/source-code-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcecode/source-code-pro-v13-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
/* source-code-pro-500 - latin */
@font-face {
  font-family: 'Source Code Medium';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/source-code-pro-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
       url('fonts/sourcecode/source-code-pro-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcecode/source-code-pro-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcecode/source-code-pro-v13-latin-500.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Source Code Bold';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/sourcecode/source-code-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
       url('fonts/sourcecode/source-code-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sourcecode/source-code-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/sourcecode/source-code-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sourcecode/source-code-pro-v13-latin-700.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
  font: 100%/1.5 'Source Code Regular', monospace;
  font-weight: 400;
  text-align: left;
}

::selection {
  color: white;
  background: #ee4444;
}

/* This works on post_details.html for the markdown */
/* p {
    color: blue;
} */

pre,
code {
  display: inline;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  color: #ffcd57;
  background-color: #363636;
}


.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #2D3645;
}

.page-container {
  height: 65vh;
  width: 57vw;

  /* border: 30px solid #242424; */

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

  display: grid;
  /* grid is 6 x 3 (col x row) */
  grid-template-columns: minmax(200px, auto) 1fr;
  grid-template-rows: 40px 1fr 30px;
  grid-template-areas:
    "sidepane nav"
    "sidepane info"
    "footer footer";

  background-color: #242424;
}

.nav {
  visibility: show;

  font: 100%/1.5 'Source Sans Regular', sans-serif;

  background-color: #181818;
  color: rgb(243, 243, 243);
  width: 100%;

  border-top-right-radius: 5px 5px;

  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas: "home projects blog resume contact";
  /* display: flex;
  flex-shrink: 1;
  flex-wrap: nowrap; */

  /* overflow: auto;
  overflow-y: hidden;
  overflow-x: auto; */
  -webkit-overflow-scrolling: touch;
  align-content: space-evenly;
  justify-content: space-evenly;

  /* grid-gap: 10px; */
}

/* .nav::-webkit-scrollbar {
  height: 4px;
}

.nav::-webkit-scrollbar-track {
  background-color: transparent;
}

.nav::-webkit-scrollbar-thumb:horizontal {
  background-color: red;
  border-radius: 10px;
}

.nav:hover {
  overflow-x: scroll;
} */

.sidepane {
  grid-area: sidepane;
  background-color: #353535;

  border-top-left-radius: 5px 5px;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;

  grid-template-areas:
    "menu-title"
    "menu-items";

  overflow: none;
  -webkit-overflow-scrolling: touch;

}

.sidepane-icon {
  /* margin-bottom: 5px; */
  justify-self: center;
}

.menu-icons {
  grid-area: menu-icons;
  justify-self: center;
}


.menu-title {
  font-weight: 700;
  grid-area: menu-title;
  align-self: center;
  justify-self: center;
  color: #ccc;
}

.rectangle {
  grid-area: menu-items;
  /* height: 28px; */
  display: grid;
  grid-template-rows: 28px 28px repeat(auto-fill, 28px);
  z-index: 1;

  grid-template-areas:
  "home-box"
  "blog-box"
  "contact-box";
}

.contact-box {
  grid-row-start: 5;
  grid-row-end: 6;
}

.home-box {
  grid-area: home-box;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.blog-box {
  grid-area: blog-box;
  /* background-color: rgba(0, 247, 255, 0.5); */
}



.blog-posts > p {
  margin: 0;
  font: 100%/1.5 'Source Sans Regular', sans-serif;

}

.menu-items {
  grid-area: menu-items;
  color: white;
  text-overflow: ellipsis;

  display: grid;
  grid-template-rows: 28px repeat(auto-fill, 28px);
  grid-template-columns: 55px 1fr;
  column-gap: 10px;
  /* icontype-icon-position title-side */
  /* grid-template-areas:
  "html-icon-1 home-side"
  "folder-icon-1 blog-side"
  "html-icon-2 resume-side"; */
}

.html-icon-1 {
  justify-self: right;
  align-self: center;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-side {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.folder-icon-1 {
  justify-self: right;
  align-self: center;
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blog-side {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.resume-side {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;/*change these values*/
  grid-row-end: 4;/*change these values*/
}

.html-icon-2 {
  justify-self: right;
  align-self: center;
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3; /*change these values*/
  grid-row-end: 4;/*change these values*/
}

.contact-side {  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.html-icon-3 {
  justify-self: right;
  align-self: center;
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* TODO:
on click we need to add however many p tags
to the start and end of both html-icon-2 
and contact 
our function in script.js gives us how many we
need to add
now we just need the on click function to modify
the grid values

They should start at 3 and end at 4
So we should add 3 + numOfP to the start
and add 4 + numOfP to the end
*/









.home-side > p,
.blog-side > p,
.resume-side > p,
.contact-side > p {
  margin: 0;
}



.menu-items > p, 
.blog-side > p,
.home-side > p,
.resume-side > p,
.contact-side > p {
  font: 100%/1.95 'Source Sans Regular', sans-serif;
  margin-bottom: 0;
}

.blog-posts {
  /* margin-left: 50px; */
  font: 100%/1.95 'Source Sans Regular', sans-serif;
  color: white;

  /* display: grid; default: block */
  /* grid-template-rows: repeat(auto-fit, 28px); */
}

.blog-posts > p{
  /* margin-left: 50px; */
  height: 28px;
  font: 100%/1.5 'Source Sans Regular', sans-serif;
  color: white;

  /* display: grid; default: block */
  /* grid-template-rows: repeat(auto-fit, 28px); */
}

.home {
  /* background-color: pink; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: home;
  padding: 0 10px 0 10px;
}

.projects {
  /* background-color: pink; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.blog {
  /* background-color: pink; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.resume {
  /* background-color: pink; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.contact {
  /* background-color: pink; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.info {
  grid-area: info;
  background-color: #181818;
  color: #A8D6DC;
  padding: 1em 2em 2em 2em;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

}

.info > p {
  margin: 0;
}

.footer {
  grid-area: footer;
  background-color: #1A8BDC;
  color: white;
  padding: 0 30px 0 30px;

  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;

  display: flex;
  align-items: center;

}

.footer>p {
  margin: 0;
}




@media all and (max-width: 44em) {
  .grid-container {
    width: 100vw;
  }

  .page-container {
    border: none;
    display: grid;
    height: 100vh;
    width: 100vw;
    /* grid is 6 x 3 (col x row) */
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "nav"
      "info";
  }

/* TODO: Change font type to source code/sans */
  .nav {
    font: 100%/1.5 'Source Sans Regular', sans-serif;

  }

  .home,
  .projects,
  .blog,
  .resume,
  .contact {
    padding: 0;
  }


  .info {
    grid-area: info;
    width: 100vw;
    -webkit-overflow-scrolling: touch;

  }





  .sidepane {
    display: none;
  }



  .info::-webkit-scrollbar {
    width: 5px;
  }

  .info::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .info::-webkit-scrollbar-thumb:vertical {
    background-color: coral;
    border-radius: 10px;
  }


  .footer {
    display: none;
  }
}