body {
    background-color: #F6F6F6;
}

.container {
    background-color: #FFFFFF;
    border-radius: 8px;
}

.hover-text {
    color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.hover-text:hover {
    color: #696969;
}

.main-container {
    padding-bottom: 10px;
}

.navbar-brand {
    color: #373737;
}

.navbar-container {
    background-color: #F6F6F6;
}
.post-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #696969;
}

.posts-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.posts-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

::selection {
    color: white;
    background: #ee4444;
}

/* This works on post_details.html for the markdown */
/* p {
    color: blue;
} */

pre, code {
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    color: #ffcd57;
    background-color: #363636;
}